body{
display: flex;
align-items: center;
justify-content: center;
margin: 150px;
background-color: #87ceeb;



}
#calculator{

}

#keys{
    display: grid;
    grid-template-columns: repeat(4,140px);
    height: 200px;
    width: 700px;
    grid-template-rows: minmax(80px, auto) repeat(5,80px);
    gap: 10px;
    /* margin-top: 10px; */

   
    
    
    
    
    
}
.main-key{
    background-color: beige;
    height: 440px;
    width: 80%;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 30px black;
    
}

#keys3{
    grid-column: 4;
    grid-row: 2/ span 3 ;
    height: 350px;
    background-color:#0dce57;
    border: none;
    font-size: 25px;
     font-family: 'Times New Roman', Times, serif;
     font-weight: 700;
    
    
}
button{
    
    border-radius: 10px;
    border: none;
     background-color: #c7c7c7;
     font-size: 25px;
     font-family: 'Times New Roman', Times, serif;
     font-weight: 700;
     cursor: pointer;
}
input{
    background-color: black;
    border: none;
    color: white;
    font-size: 25px;
padding-left: 16px;
font-weight: 700;
}
#display{
    width: 83%;
    height: 100px;
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
    
}
.operator-btn{
    background-color: #ff2828;
}
.operator{
    background-color: #808080;
    font-size: 25px;
     font-family: 'Times New Roman', Times, serif;
     font-weight: 700;
     color: white;
}